@font-face {
    font-family: 'Trade Gothic';
    src: local('Trade Gothic Light'), local('Trade-Gothic-Light'),
        url('TradeGothicLT-Light.woff2') format('woff2'),
        url('TradeGothicLT-Light.woff') format('woff'),
        url('TradeGothicLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }